# macOS
.DS_Store

# Python
*.pyc

# Log files
*.log

# Python virtual environment
bin/
include/
lib/
pyvenv.cfg
/.idea/*
# Some local files
/automated_script_1.py
/automated_script_ru.py
/automated_script.py
/test.py