# macOS
.DS_Store

# Python
*.pyc

# Log files
*.log

# Python virtual environment
bin/
include/
lib/
pyvenv.cfg

# Pyinstaller environment
build/
log/
dist/
*.spec

# Visual Studio Code
.vs/
env/Scripts

# Venv
env