# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Wurzelimperium Bot

on:
  workflow_dispatch:
  schedule:
    - cron: "*/59 * * * *"

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3.1.0
    - name: Set up Python 3.11
      uses: actions/setup-python@v4.3.0
      with:
        python-version: '3.11'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Run script
      run: |
        python ./automated_script.py ${{ secrets.SERVER_NR }} ${{ secrets.USERNAME }} ${{ secrets.PASSWORD }} de
